html
	include head
	body
		include nav
		.functions
			.functionButton
				a(href="newBlog") Create new blog
			.functionButton
				a(href="myBlogs") My blogs
			.functionButton
				a(href="allBlogs") All blogs