nav
	ul
		li  
			a(class='nav' href='/') Home
		li  
			a(class='nav' href='newBlog') New Blog
		li  
			a(class='nav' href='myBlogs') My Blogs
		li 
			a(class='nav' href='allBlogs') All Blogs
		li
			a(class='nav' href='logOut') Log Out

style
	include stylesheet.css
